<% if (Array.isArray(theme.widgets) && theme.widgets.length > 0) { %>
<aside id="sidebar">
    <div class="profile-block social-links">
        <table>
            <tr>
                <% var tooltipClass = theme.customize.social_link_tooltip === false ? '' : 'class=tooltip'; %>
                <% for(var i in theme.customize.social_links) { %>
                <td>
                    <a href="<%- url_for(theme.customize.social_links[i]) %>" target="_blank" title="<%= i %>" <%= tooltipClass %>>
                        <i class="fa fa-<%= i %>"></i>
                    </a>
                </td>
                <% } %>
            </tr>
        </table>
    </div>
   <% theme.widgets.forEach(function(widget) { %>
        <%- partial('widget/' + widget) %>
    <% }) %>
    <div id="toTop" class="fa fa-angle-up"></div>
</aside>
<% } %>